header{
    background-color: #333;
    
}
h1{
    color: #fff;
    font-size: 24px;   
}
p{
    
    font-size : 16px ; 
}
a{
    color: #fff;
}
img{
    height: 60px;
    width: 100p;
}